@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  color: #777;
  line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: #222;
}

a {
  color: #222;
  text-decoration: none;
  transition: all 0.4s;
  font-weight: 600;
}

a:hover {
  color: #e3ae09;
}

img {
  width: 100%;
}

section {
  padding-top: 86px;
  padding-bottom: 86px;
}

.shadow-on-hover {
  transition: all 0.3s;
}

.shadow-on-hover:hover {
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

.btn {
  padding: 14px 38px;
}

.btn-brand {
  color: #fff;
  font-weight: 500;
  border-color: #e3ae09;
  background-color: #e3ae09;
}

.btn-brand:hover {
  border-color: #d8a60f;
  background-color: #d8a60f;
  color: #fff;
}

.btn-getstart {
  color: #222;
  font-weight: 500;
  border-color: #d8a60f;
  background-color: #d8a60f;
}

.btn-getstart:hover {
  background-color: #86680d;
  color: #fff;
}

.navbar-brand {
  width: 100px;
  color: #d8a60f;
}

/* Hero */

#hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/boi.jpg);
  background-position: center;
  background-size: cover;
}

#hero img {
  width: 400px;
}

.logo {
  color: #e2ae11;
}

.logo::after {
  content: "Grill";
  color: #fff;
  font-size: 16px;
  font-style: italic;
  margin-left: -20px;
  border-bottom: 2px solid #e2ae11;
}

/* About */
#about .divider::before {
  content: "";
  width: 100px;
  height: 2px;
  display: block;
  background-color: #e3ae09;
}

/* Intro text */
.intro-text {
  margin-bottom: 40px;
  text-align: center;
}

.intro-text p {
  max-width: 500px;
  margin: 16px auto 0 auto;
}

/*  Menu */
#menu .nav-pills .nav-link {
  background-color: #fff;
  margin-left: 8px;
  margin-right: 8px;
  color: #222;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
}

#menu .nav-pills .nav-link.active {
  background-color: #e3ae09;
  color: #fff;
}

.menu-item__content span {
  background-color: #d8a60f;
  color: #fff;
  line-height: 2;
  font-weight: 600;
  padding: 3px;
  border-radius: 5px;
}

/* Features */

#features {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/batata1.jpg) no-repeat;
  background-position: center;
  background-size: cover;
}

.feature {
  border: 2px solid rgba(255, 255, 255, 0.2);
}

.feature .feature-icon {
  width: 70px;
  height: 70px;
  background-color: #d8a60f;
  color: #fff;
  font-size: 48px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Reserva */
#reserva .form-control {
  border-radius: 0;
}

#reserva .form-control:focus {
  box-shadow: none;
  border-color: #d8a60f;
}

#reserva input.form-control {
  height: 47px;
}

footer {
  background-color: #222;
  padding-top: 80px;
}

footer p {
  color: rgba(255, 255, 255, 0.75);
}

footer img {
  max-width: 175px;
}

footer .divider {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.social-icons {
  width: 40px;
  height: 40px;
  color: #fff;
  font-size: 48px;
}
